.preloader
{
   
    
  
    width: 50%;
    margin: 0 auto;
    margin-top: 20%;
    height: max-content;
    margin-left: 47%;
    
    
   
}
.preloader img{
    
        
         width:20%;
         height:20%;
         
        

}